@using ServiceStack
@inherits ServiceStack.Razor.ViewPage<System.Collections.Generic.List<StatusCheck.Lib.Types.Script>>
@{
    Layout = "Layout";
}

<table class="flakes-table">
    <thead>
        
        <tr>
            <td>
                Edit
            </td>
            <td>
                Display Name
            </td>
            <td>
                Filename
            </td>
            <td>
                Enabled
            </td>
        </tr> 
    </thead>
    <tbody>
 @foreach (var script in Model)
 {
     <tr>
         <td>
             <a href="/script/@script.Id">Edit</a>
         </td>
         <td>
             @script.DisplayName
         </td>
         <td>
             @script.Name
         </td>
         <td>
             @script.Enabled
         </td>
     </tr>
 }
    </tbody>
</table>

 
@section head {

}

@section scripts {

}
