<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:/Mobile/Logs/StatusCheck/statusCheck.log" />
  </appSettings>
  <connectionStrings>
    <add name="Postgres" connectionString="Server=127.0.0.1;Port=5432;Database=StatusCheck;User Id=statusCheckAdmin;Password=statusCheckPw;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>